<?xml version="1.0"  encoding="gbk"?>
<beans  xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans   
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.0.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
 http://www.springframework.org/schema/jdbc
 http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd ">
<context:component-scan base-package="com.klspta.web.xuzhouWW">
</context:component-scan>

<!-- 车辆管理 -->
<bean name="carManager" class="com.klspta.web.jizeWW.carmanager.CarManager" />
<!-- 平板回传 -->
<bean name="pADDataList" class="com.klspta.web.jizeWW.paddata.PadDatalist" />
<!-- GPS信息处理 -->
<bean name="hander" class="com.klspta.web.jizeWW.carmonitor.GpsDeviceManager" />
<!-- 12336信访 -->
<bean name="xfxs12336" class="com.klspta.web.jizeWW.xsjb.Xsjb12336" />
<!-- 轨迹回放 -->
<bean name="location" class="com.klspta.web.jizeWW.carhistory.CarHistory" />
<!-- 动态巡查 -->
<bean name="dtxcManager" class="com.klspta.web.jizeWW.dtxc.DtxcManager" scope="prototype"/>
<!-- 巡查成果导入（为实现巡查日志与巡查成果的关联，修改部分强峰成果导入代码） -->
<bean name="cgdrManager" class="com.klspta.web.jizeWW.dtxc.cgdr.WyrwManager" scope="prototype"/>
<!--回传成果-->
<bean name="padDataManager" class="com.klspta.web.jizeWW.dtxc.PADDataManager" scope="prototype"/>

<!--获取子菜单-->
<bean name="menuManager" class="com.klspta.web.jizeWW.framework.WWmenuManager" scope="prototype"/>
</beans>
