/*#968B7D   ��ɫ#87C5F4 #D9D9D9*/
body
{
 color:#2C2B29;
 font-size:12px;
 background-color:#f0f6fc;
}
.container
{
	margin:0 auto 0 auto;
	text-align:center;
}
.tableBorder
{
	border-top:1px solid #2C2B29;
	border-left:1px solid #2C2B29;
}
.tableTdBorder
{
	border-right:1px solid #2C2B29;
	border-bottom:1px solid #2C2B29;
}
.button
{
	color:white;
	font-weight:bold;
	font-size:12px;
	line-height:17px;
	background:url(../images/button2.png);
	width:75px;
	height:25px;
	padding-top:1px;
	border:0;
	cursor:pointer;
	border:0;
	
}
.button_mouse
{
	color:white;
	font-weight:bold;
	font-size:12px;
	line-height:18px;
	padding-top:1px;
	border:0;
	width:75px;
	height:25px;
	cursor:pointer;
	background:url(../images/button1.png);
}
.button_border
{
	height:28px;
	width:100px;
	border:1px solid black;
}
.text
{
	width:97%;
	height:25px;
	border:none;
	line-height:25px;
	padding:0 0 0 0px;
	font-size:12px;
	color:#2C2B29;
	margin:0 0 0 3px;
	background-color:white;
}
.dateText
{
	width:180px;
	font-size:12px;
	color:#2C2B29;
	margin:0 0 0 3px;
	padding:3 0 0 3px;
	border:#999 1px solid;
	height:25px;
	background:white url(../DatePicker/skin/datePicker.gif) no-repeat right;

}
.select
{
	margin:0 0 0 5px;
	height:20px;
	line-height:25px;
	font-size:12px;
	color:#2C2B29;
	background-color:white;
	border:1px solid #2C2B29;
	margin-top:0px;
	vartical-align:center;
}
.textArea
{
	display:block;
	padding-left:3px;
	font-size:12px;
	background-color:white;
	border:none;
	overflow: auto;
}
.checkBox
{
	padding:0;
	color:#87C5F4;
}